.Currency {
    color: #fff;
    text-align: center;
}

.headliner {
    font-weight: normal;
    padding-top: 150px;
    font-size: 50px;
}

.currencyBlocks {
  width: 680px;
  height: 400px;
  margin-left: calc((100% - 680px)/2);
  margin-top: 20px;
  background-color: #2f2f3a;
  box-shadow: 0px 30px 10px -12px rgba(0,0,0,.5);
  border-radius: 30px;
  overflow: hidden;
}

.block {
    display: inline-block;
    margin-top: 100px;
    width: 35%;
    padding: 0 20px;
}

input {
    background: #2f2f3a;
    width: 100%;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-bottom: #fff solid 1px;
    text-align: center;
}

select {
    text-indent: 25px;
    width: 100%;
    margin-top: 20px;
    background: #2f2f3a;
    outline: none;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-left: 7px;
    padding: 10px;
    border-radius: 10px;
}

option {
    line-height: 30px;
}

select:hover {
    background-color:#21212b ;
}

*:focus {
    outline: none;
}